<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <link rel="stylesheet" href="../public/style.css">
     <style> body{
          color: brown;
     }
      </style>
</head>
<body>
     <main>
          <form method="post" action="/contact">
               <h1>Contact Now</h1>
               <input type="text" name="name" id="name">
               <input type="email" name="email" id="email">
               <button type="submit">Send Messsage</button>
          </form>
     </main>
</body>
</html>